# package versions frozen and tested successfully 2023-08-11
awscli==1.29.25
boto3==1.28.25
chromadb==0.4.5
langchain==0.0.308
langchain-experimental==0.0.8
openai==0.27.8
psycopg2-binary==2.9.7
PyYAML==6.0.1
sentence-transformers==2.2.2
SQLAlchemy==2.0.19
streamlit==1.25.0
